body {
    padding: 0;
    margin: 0 auto;
}
html {
    padding: 0;
    margin: 0 auto;
    overscroll-behavior: none;
}
.hiddendiv {
    position: absolute;
    left: -10000px;
    overflow: hidden;
}
.hiddeninput {
    font-size: 100px;
}